$navButtonSize: 2rem;
$bgColor:#FDF6EB;
$barHeight:6px;
$globalPadding: 2.7rem;
$border: 2px solid #000;
*{box-sizing:border-box;}
body{
  z-index:-3;
  position:relative;
  font-family: 'Lemon/Milk', sans-serif;
  background-color: $bgColor;
  margin:0;
  nav{
    display:flex;
    justify-content:space-between;
    background-color: $bgColor;
    padding: 2rem 2rem .5rem 2rem;
    border-bottom:$border;
    .logoWrapper{
      display:flex;
      align-items: center;
      img{
        width: $navButtonSize;
        height: $navButtonSize;
        margin: .7rem;
      }
      h1{
        font-size: 1.2rem;
      }
    }
    .burgerWrapper{
      display:flex;
      position:relative;
      align-items: center;

      label{
        margin-right:.7rem;
        right:0;
        width: $navButtonSize;
        height: $navButtonSize;
        position:absolute;
        cursor:pointer;
        // label > div - bezpośrednie dzieci divy od labela 
        // ( nie obejmuje wnuków labela ) 
        // border:3px solid red;
        > div{
          transition:.5s;
          height:$barHeight;
          background-color: #000;
          position:absolute;
          width:100%;
          // & - odnosi się do tego selektora
          // wewnątrz którego się znajduje
          &:nth-child(2){
            // przesuń diva na środek labela
            margin-top: calc($navButtonSize/2);
            // przesuń środek diva na środek labela
            top: calc( -#{$barHeight} / 2 )
            // top: calc( $barHeight / 2 - $barHeight);
            // oneliner:
            // top: calc($navButtonSize / 2 - $barHeight / 2);
          }
          &:nth-child(3){
            bottom:0;
            display:flex;
            background-color: transparent;
            justify-content:space-between;
            div:nth-child(1){
              background-color: #000;
              width:60%;
            }
            div:nth-child(2){
              width:20%;
              background-color:#FF5202;
            }
          
          }
        }


      }
      input{
        display:none;
      }
      ol{
        z-index:-1;
        margin:0;
        background-color: $bgColor;
        position:absolute;
        top:calc( -100% - $navButtonSize);
        transition: .5s;
        display:flex;
        flex-direction: column;
        right:-2rem;
        padding:20px 10px;
        list-style:none;
        width:100vw;
      }
      #toggler:checked ~ {
        ol{
          top:100%;
        }
        label > div{
          // krzyżyk
          top: calc($navButtonSize / 2 - $barHeight / 2);
          &:nth-child(1){
            transform: rotate(45deg);
          }
          &:nth-child(2){
            opacity:0;
          }
          &:nth-child(3){
            transform: rotate(-45deg);
            // kropeczka na środku
            div:nth-child(1){display:none;}
            background-color: #000;
            justify-content: center;
          }
        }
      }

    }
  }

  main {
    position:relative;
    z-index:-2;
    .titleWrapper{
      border-left:$border;
      margin-left:$globalPadding;
      padding: 2rem 2rem 4rem 1rem;
      h2{
        font-size: 2rem;
        margin:.5rem 0;
      }
      p{  
        font-family: 'Lemon/Milk light', sans-serif;
        margin: 2rem 0;
      }
      button{display:none;}
      b{font-size:2rem;}
    }

    .imgContainer{
      border-top:$border;
      border-bottom:$border;
      .imgWrapper{
        background-color:#FE682F;
        margin:0 $globalPadding;

        border-left:$border;
        border-right:$border;
        

        .img{
          min-height:80vh;
          background-image: url("../img/man-watch.webp");
          background-size: cover;
          background-position: center;
          border-radius:50vw;
        }
      }
    }

    .contentContainer{
      margin:0 $globalPadding;
      border-right:$border;
      border-left:$border;
      padding: 0 1rem;
      .buttonContainer{
        text-align: center;
        padding:$globalPadding 0;
        button{
          border-radius: 0;
          padding:.9rem 2.5rem;
          background-color: #FE682F;
          border:$border;
          position: relative;
          &:after{
            content: '';
            border:$border;
            position:absolute;
            width:100%;
            height:100%;
            background-color:#fff;
            top:.5rem;
            left:.5rem;
            z-index:-1;
          }
          &:active{
            top:.5rem;
            left:.5rem;
            &:after{
              top:0;
              left:0;
            }
          }



        }
      }
      .imgWrapper{
        .img{
          min-height:60vh;
          background-image: url(../img/businessman-checking-time.webp);
          background-position: center;
          background-size: cover;
          border:$border;

        }

      }
      .contentWrapper{
        p{
          text-align: center;
        }
      }
    }

    .trendingWrapper{
      border-top:$border;
      border-bottom:$border;
      .trending{
        background-color: #FFEE01;
        margin: $globalPadding;
        border-left:$border;
        border-right:$border;

      }

      
    }


  }
}